// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Home row mods macro

#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LALT k2  &ht LCTRL k3  &ht LGUI k4
#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3  &ht RSHFT k4

/ {
    behaviors {
        hm: hm {
            compatible = "zmk,behavior-hold-tap";
            label = "HM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
        };

        qexcl: qexcl {
            compatible = "zmk,behavior-mod-morph";
            label = "QEXCL";
            bindings = <&kp QMARK>, <&kp EXCL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        lpar: lpar {
            compatible = "zmk,behavior-mod-morph";
            label = "LPAR";
            bindings = <&kp LPAR>, <&kp LT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        rpar: rpar {
            compatible = "zmk,behavior-mod-morph";
            label = "RPAR";
            bindings = <&kp RPAR>, <&kp GT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        dot_morph: dot_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_MORPH";
            bindings = <&kp DOT>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        comma_morph: comma_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_MORPH";
            bindings = <&kp COMMA>, <&kp SEMI>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
            require-prior-idle-ms = <150>;
            timeout-ms = <25>;
            layers = <0>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2>;
            require-prior-idle-ms = <150>;
            timeout-ms = <25>;
            layers = <0>;
        };

        bspc {
            bindings = <&kp BACKSPACE>;
            key-positions = <6 7>;
            require-prior-idle-ms = <150>;
            timeout-ms = <25>;
            layers = <0>;
        };

        del {
            bindings = <&kp DELETE>;
            key-positions = <7 8>;
            require-prior-idle-ms = <150>;
            timeout-ms = <25>;
            layers = <0>;
        };

        brack1 {
            bindings = <&kp RBKT>;
            key-positions = <28 27>;
            require-prior-idle-ms = <150>;
            timeout-ms = <25>;
            layers = <0>;
        };

        brack2 {
            bindings = <&kp LBKT>;
            key-positions = <27 26>;
            require-prior-idle-ms = <150>;
            timeout-ms = <25>;
            layers = <0>;
        };

        brack3 {
            bindings = <&lpar>;
            key-positions = <17 16>;
            require-prior-idle-ms = <150>;
            timeout-ms = <25>;
            layers = <0>;
        };

        brack4 {
            bindings = <&rpar>;
            key-positions = <17 18>;
            require-prior-idle-ms = <150>;
            timeout-ms = <25>;
            layers = <0>;
        };

        bksp {
            bindings = <&kp BACKSPACE>;
            key-positions = <2 3>;
            timeout-ms = <25>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp Q       &kp W           &kp E        &kp R             &kp T          &kp Y      &kp U             &kp I         &kp O           &kp P
&hm LCMD A  &hm LEFT_ALT S  &hm LCTRL D  &hm LEFT_SHIFT F  &kp G          &kp H      &hm LEFT_SHIFT J  &hm LCTRL K   &hm LEFT_ALT L  &hm LCMD SQT
&kp Z       &kp X           &kp C        &kp V             &kp B          &kp N      &kp M             &comma_morph  &dot_morph      &qexcl
                                         &lt 1 BSPC        &lt 3 SPACE    &kp ENTER  &lt 2 ENTER
            >;
        };

        nav {
            bindings = <
&trans     &trans    &trans      &trans    &trans    &trans  &trans               &kp UP_ARROW           &trans                &trans
&kp LCTRL  &kp LALT  &kp LSHIFT  &kp LCMD  &trans    &trans  &hm LCMD LEFT_ARROW  &hm LSHIFT DOWN_ARROW  &hm LALT RIGHT_ARROW  &kp LCTRL
&trans     &trans    &trans      &trans    &trans    &trans  &trans               &trans                 &trans                &trans
                                 &trans    &trans    &trans  &trans
            >;
        };

        num {
            bindings = <
&kp N1        &kp N2           &kp N3               &kp N4             &kp N5       &trans  &trans    &trans      &trans        &trans
&hm LCTRL N6  &hm LEFT_ALT N7  &hm LSHIFT NUMBER_8  &hm LCMD NUMBER_9  &kp N0       &trans  &kp LCMD  &kp LSHIFT  &kp LEFT_ALT  &kp LCTRL
&kp PLUS      &kp MINUS        &kp ASTRK            &kp FSLH           &kp EQUAL    &trans  &trans    &trans      &trans        &trans
                                                    &trans             &trans       &trans  &trans
            >;
        };

        fn {
            bindings = <
&kp EXCL         &kp AT               &kp POUND             &kp DLLR        &kp PRCNT    &trans  &trans    &trans      &trans        &trans
&hm LCTRL GRAVE  &hm LEFT_ALT TILDE2  &hm LSHIFT BACKSLASH  &hm LCMD UNDER  &kp CARET    &trans  &kp LCMD  &kp LSHIFT  &kp LEFT_ALT  &kp LCTRL
&kp LT           &kp GT               &kp QMARK             &kp COLON       &kp AMPS     &trans  &trans    &trans      &trans        &trans
                                                            &trans          &trans       &trans  &trans
            >;
        };
    };
};
