// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Home row mods macro

#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LALT k2  &ht LCTRL k3  &ht LGUI k4
#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3  &ht RSHFT k4

/ {
    behaviors {
        hm: hm {
            compatible = "zmk,behavior-hold-tap";
            label = "HM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "balanced";
            require-prior-idle-ms = <125>;
        };

        qexcl: qexcl {
            compatible = "zmk,behavior-mod-morph";
            label = "QEXCL";
            bindings = <&kp QMARK>, <&kp EXCL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        lpar: lpar {
            compatible = "zmk,behavior-mod-morph";
            label = "LPAR";
            bindings = <&kp LPAR>, <&kp LT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        rpar: rpar {
            compatible = "zmk,behavior-mod-morph";
            label = "RPAR";
            bindings = <&kp RPAR>, <&kp GT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        dot_morph: dot_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_MORPH";
            bindings = <&kp DOT>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        comma_morph: comma_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_MORPH";
            bindings = <&kp COMMA>, <&kp SEMI>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <125>;
            flavor = "balanced";
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33>;
            hold-trigger-on-release;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <125>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31>;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        bspc {
            bindings = <&kp BACKSPACE>;
            key-positions = <6 7>;
            require-prior-idle-ms = <120>;
            timeout-ms = <25>;
            layers = <0>;
        };

        del {
            bindings = <&kp DELETE>;
            key-positions = <7 8>;
            require-prior-idle-ms = <120>;
            timeout-ms = <25>;
            layers = <0>;
        };

        brack1 {
            bindings = <&kp RBKT>;
            key-positions = <28 27>;
            require-prior-idle-ms = <120>;
            timeout-ms = <25>;
            layers = <0>;
        };

        brack2 {
            bindings = <&kp LBKT>;
            key-positions = <27 26>;
            require-prior-idle-ms = <120>;
            timeout-ms = <25>;
            layers = <0>;
        };

        brack3 {
            bindings = <&lpar>;
            key-positions = <17 16>;
            require-prior-idle-ms = <120>;
            timeout-ms = <25>;
            layers = <0>;
        };

        brack4 {
            bindings = <&rpar>;
            key-positions = <17 18>;
            require-prior-idle-ms = <120>;
            timeout-ms = <25>;
            layers = <0>;
        };

        caps {
            bindings = <&kp CAPSLOCK>;
            key-positions = <12 13>;
            timeout-ms = <25>;
            require-prior-idle-ms = <120>;
            layers = <0>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <12 13>;
            timeout-ms = <25>;
            require-prior-idle-ms = <120>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp Q         &kp W            &kp E          &kp R        &kp T            &kp Y        &kp U        &kp I         &kp O            &kp P
&hml LCTRL A  &hml LEFT_ALT S  &hml LSHIFT D  &hml LCMD F  &kp G            &kp H        &hmr LCMD J  &hmr LSHFT K  &hmr LEFT_ALT L  &hmr LCTRL SQT
&kp Z         &kp X            &kp C          &kp V        &kp B            &kp N        &kp M        &comma_morph  &dot_morph       &qexcl
                                              &lt 1 TAB    &kp BACKSPACE    &lt 3 SPACE  &lt 2 ENTER
            >;
        };

        nav {
            bindings = <
&trans     &trans    &trans      &trans    &trans    &trans  &trans               &kp UP_ARROW           &trans                &trans
&kp LCTRL  &kp LALT  &kp LSHIFT  &kp LCMD  &trans    &trans  &hm LCMD LEFT_ARROW  &hm LSHIFT DOWN_ARROW  &hm LALT RIGHT_ARROW  &kp LCTRL
&trans     &trans    &trans      &trans    &trans    &trans  &trans               &trans                 &trans                &trans
                                 &trans    &trans    &trans  &trans
            >;
        };

        num {
            bindings = <
&kp N1        &kp N2           &kp N3               &kp N4             &kp N5       &trans  &trans    &trans      &trans        &trans
&hm LCTRL N6  &hm LEFT_ALT N7  &hm LSHIFT NUMBER_8  &hm LCMD NUMBER_9  &kp N0       &trans  &kp LCMD  &kp LSHIFT  &kp LEFT_ALT  &kp LCTRL
&kp PLUS      &kp MINUS        &kp STAR             &kp SLASH          &kp EQUAL    &trans  &trans    &trans      &trans        &trans
                                                    &trans             &trans       &trans  &trans
            >;
        };

        fn {
            bindings = <
&kp EXCL         &kp AT              &kp POUND             &kp DLLR        &kp PRCNT    &trans  &trans    &trans      &trans        &trans
&hm LCTRL GRAVE  &hm LEFT_ALT TILDE  &hm LSHIFT BACKSLASH  &hm LCMD UNDER  &kp CARET    &trans  &kp LCMD  &kp LSHIFT  &kp LEFT_ALT  &kp LCTRL
&kp LT           &kp GT              &kp QMARK             &kp COLON       &kp AMPS     &trans  &trans    &trans      &trans        &trans
                                                           &trans          &trans       &trans  &trans
            >;
        };
    };
};
